
testing/LatihanUnitTest/java/.idea/compiler.xml
testing/LatihanUnitTest/java/.idea/gradle.xml
testing/LatihanUnitTest/java/.idea/jarRepositories.xml
testing/LatihanUnitTest/java/.idea/misc.xml
testing/LatihanUnitTest/java/.idea/vcs.xml
testing/LatihanUnitTest/kotlin/.idea/compiler.xml
testing/LatihanUnitTest/kotlin/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/.name
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/.name
local-data-persistent/LatihanRoom/java/.idea/compiler.xml
local-data-persistent/LatihanRoom/java/.idea/jarRepositories.xml
local-data-persistent/LatihanRoom/kotlin/.idea/compiler.xml
local-data-persistent/LatihanRoom/kotlin/.idea/deploymentTargetDropDown.xml
background-process/LatihanLiveDataWithAPI/.DS_Store
background-process/LatihanLiveDataWithAPI/java/.idea/.name
background-process/LatihanLiveDataWithAPI/java/.idea/compiler.xml
background-process/LatihanLiveDataWithAPI/java/.idea/gradle.xml
background-process/LatihanLiveDataWithAPI/java/.idea/jarRepositories.xml
background-process/LatihanLiveDataWithAPI/java/.idea/misc.xml
background-process/LatihanLiveDataWithAPI/java/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/.name
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/java/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/.name
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithSingleEvent/kotlin/.idea/vcs.xml
background-process/LatihanRetrofit/.DS_Store
background-process/LatihanRetrofit/java/.idea/.name
background-process/LatihanRetrofit/java/.idea/compiler.xml
background-process/LatihanRetrofit/java/.idea/gradle.xml
background-process/LatihanRetrofit/java/.idea/jarRepositories.xml
background-process/LatihanRetrofit/java/.idea/misc.xml
background-process/LatihanRetrofit/java/.idea/vcs.xml
background-process/LatihanRetrofit/kotlin/.idea/.name
background-process/LatihanRetrofit/kotlin/.idea/compiler.xml
background-process/LatihanRetrofit/kotlin/.idea/gradle.xml
background-process/LatihanRetrofit/kotlin/.idea/jarRepositories.xml
background-process/LatihanRetrofit/kotlin/.idea/misc.xml
background-process/LatihanRetrofit/kotlin/.idea/vcs.xml
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/.name
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/compiler.xml
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/gradle.xml
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/jarRepositories.xml
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/misc.xml
local-data-persistent/AndroidKTX/LatihanSingleEvent/.idea/vcs.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/compiler.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/gradle.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/jarRepositories.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/misc.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/modules.xml
local-data-persistent/AndroidKTX/MyFlexibleFragment/.idea/vcs.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/compiler.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/gradle.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/jarRepositories.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/misc.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/modules.xml
local-data-persistent/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/vcs.xml
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/.name
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/compiler.xml
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/gradle.xml
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/jarRepositories.xml
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/misc.xml
local-data-persistent/LatihanAndroidKTX/LatihanSingleEvent/.idea/vcs.xml
fundamental/LatihanIntent/java/.idea/compiler.xml
fundamental/LatihanIntent/java/.idea/gradle.xml
fundamental/LatihanIntent/java/.idea/jarRepositories.xml
fundamental/LatihanIntent/java/.idea/misc.xml
fundamental/LatihanIntent/java/.idea/modules.xml
fundamental/LatihanIntent/java/.idea/vcs.xml
fundamental/LatihanIntent/kotlin/.idea/compiler.xml
fundamental/LatihanIntent/kotlin/.idea/gradle.xml
fundamental/LatihanIntent/kotlin/.idea/jarRepositories.xml
fundamental/LatihanIntent/kotlin/.idea/misc.xml
fundamental/LatihanIntent/kotlin/.idea/modules.xml
fundamental/LatihanIntent/kotlin/.idea/vcs.xml
local-data-persistent/LatihanRoom/kotlin/.idea/jarRepositories.xml
local-data-persistent/LatihanSharedPreference/java/.idea/caches/build_file_checksums.ser
local-data-persistent/LatihanSharedPreference/java/.idea/caches/gradle_models.ser
local-data-persistent/LatihanSharedPreference/java/.idea/codeStyles/Project.xml
local-data-persistent/LatihanSharedPreference/java/.idea/compiler.xml
local-data-persistent/LatihanSharedPreference/java/.idea/encodings.xml
local-data-persistent/LatihanSharedPreference/java/.idea/gradle.xml
local-data-persistent/LatihanSharedPreference/java/.idea/jarRepositories.xml
local-data-persistent/LatihanSharedPreference/java/.idea/misc.xml
local-data-persistent/LatihanSharedPreference/java/.idea/modules.xml
local-data-persistent/LatihanSharedPreference/java/.idea/runConfigurations.xml
local-data-persistent/LatihanSharedPreference/java/.idea/vcs.xml
local-data-persistent/LatihanSharedPreference/kotlin/.idea/caches/build_file_checksums.ser
local-data-persistent/LatihanSharedPreference/kotlin/.idea/compiler.xml
local-data-persistent/LatihanSharedPreference/kotlin/.idea/gradle.xml
local-data-persistent/LatihanSharedPreference/kotlin/.idea/jarRepositories.xml
local-data-persistent/LatihanSharedPreference/kotlin/.idea/misc.xml
local-data-persistent/LatihanSharedPreference/kotlin/.idea/vcs.xml
fundamental/LatihanCustomView/java/.idea/compiler.xml
fundamental/LatihanCustomView/java/.idea/gradle.xml
fundamental/LatihanCustomView/java/.idea/jarRepositories.xml
fundamental/LatihanCustomView/java/.idea/misc.xml
fundamental/LatihanCustomView/java/.idea/vcs.xml
fundamental/LatihanCustomView/kotlin/.idea/compiler.xml
fundamental/LatihanCustomView/kotlin/.idea/gradle.xml
fundamental/LatihanCustomView/kotlin/.idea/jarRepositories.xml
fundamental/LatihanCustomView/kotlin/.idea/misc.xml
fundamental/LatihanCustomView/kotlin/.idea/vcs.xml
background-process/LatihanLoopJ/java/.idea/compiler.xml
background-process/LatihanLoopJ/java/.idea/gradle.xml
background-process/LatihanLoopJ/java/.idea/jarRepositories.xml
background-process/LatihanLoopJ/java/.idea/misc.xml
background-process/LatihanLoopJ/java/.idea/modules.xml
background-process/LatihanLoopJ/java/.idea/vcs.xml
background-process/LatihanLoopJ/kotlin/.idea/compiler.xml
background-process/LatihanLoopJ/kotlin/.idea/gradle.xml
background-process/LatihanLoopJ/kotlin/.idea/jarRepositories.xml
background-process/LatihanLoopJ/kotlin/.idea/misc.xml
background-process/LatihanLoopJ/kotlin/.idea/modules.xml
background-process/LatihanLoopJ/kotlin/.idea/vcs.xml
fundamental/LatihanFragment/kotlin/.idea/vcs.xml
fundamental/LatihanFragment/kotlin/.idea/modules.xml
fundamental/LatihanFragment/kotlin/.idea/misc.xml
fundamental/LatihanFragment/kotlin/.idea/jarRepositories.xml
fundamental/LatihanFragment/kotlin/.idea/gradle.xml
fundamental/LatihanFragment/kotlin/.idea/compiler.xml
background-process/LatihanBackgroundThreadWithProgressBar/kotlin/.idea/vcs.xml
background-process/LatihanBackgroundThreadWithProgressBar/kotlin/.idea/misc.xml
background-process/LatihanBackgroundThreadWithProgressBar/kotlin/.idea/jarRepositories.xml
background-process/LatihanBackgroundThreadWithProgressBar/kotlin/.idea/gradle.xml
background-process/LatihanBackgroundThreadWithProgressBar/kotlin/.idea/compiler.xml
fundamental/LatihanFragment/java/.idea/compiler.xml
fundamental/LatihanFragment/java/.idea/gradle.xml
fundamental/LatihanFragment/java/.idea/jarRepositories.xml
fundamental/LatihanFragment/java/.idea/misc.xml
fundamental/LatihanFragment/java/.idea/modules.xml
fundamental/LatihanFragment/java/.idea/vcs.xml
android-architecture-component/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/modules.xml
android-architecture-component/LatihanAndroidKTX/LatihanFlexibleFragment/.idea/gradle.xml
