
testing/LatihanUnitTest/java/.idea/compiler.xml
testing/LatihanUnitTest/java/.idea/gradle.xml
testing/LatihanUnitTest/java/.idea/jarRepositories.xml
testing/LatihanUnitTest/java/.idea/misc.xml
testing/LatihanUnitTest/java/.idea/vcs.xml
testing/LatihanUnitTest/kotlin/.idea/compiler.xml
testing/LatihanUnitTest/kotlin/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/.name
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithAPI/java/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/vcs.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/misc.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/jarRepositories.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/gradle.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/compiler.xml
android-architecture-component/LatihanLiveDataWithAPI/kotlin/.idea/.name
local-data-persistent/LatihanRoom/java/.idea/compiler.xml
local-data-persistent/LatihanRoom/java/.idea/jarRepositories.xml
local-data-persistent/LatihanRoom/kotlin/.idea/compiler.xml
local-data-persistent/LatihanRoom/kotlin/.idea/deploymentTargetDropDown.xml
